@font-face {
  font-family: "iconfont"; /* Project id 3734757 */
  src: url('iconfont.woff2?t=1666925283149') format('woff2'),
       url('iconfont.woff?t=1666925283149') format('woff'),
       url('iconfont.ttf?t=1666925283149') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-konglong:before {
  content: "\e6eb";
}

.icon-dianhua:before {
  content: "\e6ec";
}

.icon-shatanqiu:before {
  content: "\e6ed";
}

